$color: #3D3D3D;
$backgroundColor: #6D6D6D;

body{
    color: $color;
    background-color: $backgroundColor;
    p{
        color: $color;
    }
    h2{
        background-color: $backgroundColor;
    }
}